@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 38, 49; /* Rabat Navy */
  --background-start-rgb: 249, 247, 242; /* Rabat Beige */
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}